.vscode/
.idea/

.env
.coverage
htmlcov/
db.sqlite3

__pycache__/
env/
media/
static/three.js-master/

Pipfile
Pipfile.lock
.DS_Store

get-pip.py

# Terraform
*.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate*

# Credentials
*.csv